@import "./colors.scss";
@import "./mixins.scss";

.desktop_logo {
  display: none;
  @include md () {
    display: block;
  }
}

.channel_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  p {
    margin-left: 5px;
  }
  @include md () {
    display: none;
  }
}

.user-profile {
  display: none;
  @include xl() {
    display: block;
  }
}
.v_toggle {
  margin-left: 10px;
  @include xl () {
    display: none;
  }
}

.user_banner {
  position: relative;
  left: -40px;
  width: 100vw;
  img {
    width: 100%;
  }
  &__details {
    position: relative;
    padding: 0 35px;
    &__name {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -35px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
    .subscribe {
      width: 154px;
      height: 40px;
      background: #f04732;
      border-radius: 20px;
      outline: none;
      border: none;
      color: #fff;
      margin-right: 15px;
      position: relative;
      top: -15px;
    }
  }
}

.subscribers {
  &__name {
    color: #19202c;
    font-size: 20px;
    font-weight: bold;
  }
  &__num {
    color: #c2c2c2;
    font-size: 12px;
  }
}
.tab__items {
  list-style-type: none;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  &.mobile {
    @include xl() {
      display: none;
    }
  }
  &__action {
    text-align: right;
  }

  &__1 {
    color: red;
    border-bottom: 2px solid red;
  }
  li {
    font-size: 14px;
    padding: 0 10px 7px;
    &:hover {
      color: red;
      border-bottom: 2px solid red;
    }
  }
}

.channel__body {
  display: none;
  @include xl() {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    position: relative;
    width: calc(100vw - 260px);
    left: -60px;
    color: #000;
    .tabs {
      flex: 0 0 70%;
      .main_video {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__thumbnail {
          flex: 0 0 57%;
          img {
            width: 100%;
            border-radius: 14px;
          }
        }
        &__about {
          flex: 0 0 40%;
          .title {
            color: #000;
            font-weight: bold;
            font-size: 18px;
          }
          .subtitle {
            font-size: 14px;
            color: #000;
            opacity: 0.6;
          }
          .plain {
            opacity: 0.4;
            font-size: 14px;
          }
        }
      }
    }
    .channel__list {
      // flex: 0 0 30%;
      padding-bottom: 5px;
      margin-top: 1.3em;
      margin-right: 10px;
      font-size: 14px;
      .title {
        color: #c2c2c2;
      }
      &__items {
        .item{
          display: flex;
          align-items: center;
          color: #000;
          font-weight: bold;
          margin: 20px 0;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@include md() {
  .channel {
    width: calc(100% - 70px);
    position: relative;
    left: 70px;
  }

  .user_banner {
    width: calc(100vw - 70px);
    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@include xl() {
  .user_banner {
    width: calc(100vw - 260px);
    left: -60px;
    > img {
      border-radius: 14px;
      height: 280px
    }

    &__details {
      align-items: flex-end;
      padding: 0;
      .subscribe {
        margin-right: 0;
      }
      &__name {
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        left: 0;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}