@import "./colors.scss";

body{
  font-family: 'Muli', sans-serif;
  background: $main;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  height: 55px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;

  .navbar_left {
    flex: 0 0 50%;
  }
  .navbar_right {
    flex: 0 0 20%;
    padding: 0 10px;
    .user-profile {
      width: 30px;
      height: 30px;
      img {
        width: 30px;
      }
    }
  }

  .navbar_right, .navbar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desktop {
      display: none;
    }
  }


  .search {
    border-radius: 22px;
    width: 500px;
    max-width: 100%;
    padding: 15px;
    background-image: linear-gradient(rgba($light_grey, 0.3),rgba($light_grey, 0.3)),url('../assets/icons/search.svg'); 
    background-repeat: no-repeat;
    background-position: 98%;
    outline: none;
    border: none;
  }
}

.videos {
  width: 300px;
  max-width: 100%;
  margin: 5px auto 65px;

  .video {
    width: 250px;
    max-width: 100%;
    margin: 15px auto;

    &__thumbnail {
      border-radius: 12px;
      position: relative;

      img {
        border-radius: 12px;
      }

      div {
        width: 47px;
        height: 24px;
        border-radius: 12px;
        background: #000;
        opacity: 0.3;
        position: absolute;
        bottom: 15px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__name {
      color: $video_name;
      font-size: 16px;
      font-weight: bold;
      margin: 6px 0;
    }

    &__details {
      display: flex;
      color: $video_color;
      justify-content: space-between;
      font-size: 13px;

      p {
        margin: 0;
      }

      &__one {
        flex: 0 0 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          width: 2px;
          height: 2px;
          background: $video_color;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  border-top: 1px solid #f1f1f1;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1;
  
  &__item {
    display: flex;
    flex-direction: column;
    color: $text;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }
    p {
      font-size: 10px;
      margin: 1px
    }

    &:first-child {
      color: red;
    }
  }
}