@import "./colors.scss";
@import "./mixins.scss";
@import "./components/slider.scss";


body{
  font-family: 'Muli', sans-serif;
  background: $main;
  color: #fff;
  margin: 0;
  padding: 0;
}

body, .navbar, .footer {
  transition: .4s;
}

p {
  margin: 0;
}

.toggle {
  cursor: pointer;
}

.side-nav {
  top: -10px;
  z-index: 2;
  margin-top: 60px;
  width: 70px;
  height: calc(100vh - 10px);
  background: #fff;
  border-right: 1px solid #f1f1f1;
  position: fixed;
  left: 0;
  display: none;
  flex-direction: column;

  div:not(.footer__item) {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  @include mdl() {
    display: flex;
  }

  @include xl() {
    display: none;
  }
}

.control-group {
  display: none;
  justify-content: space-between;
  flex: 0 0 100%;
  color: #000;
  padding: 0 20px 0 75px;
  font-size: 18px;
  font-weight: bold;

  div {
    display: flex;
    align-items: center;
    img {
      margin: 0 5px;
    }
    button {
      width: 154px;
      height: 40px;
      background: #f04732;
      border-radius: 20px;
      outline: none;
      border: none;
      color: #fff;
      margin-right: 15px;
    }
  }

  .hint {
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
  }

  @include xl() {
    display: flex;
    padding: 10px 75px 10px 10px;
  }
}

.videos {
  width: 960px;
  max-width: calc(100% - 80px);
  margin: 5px auto 65px;
  padding: 60px 10px 0;
  position: relative;

  .my-videos {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    @include lg() {
      padding-left: 65px;
    }
    @include xl() {
      overflow-x: hidden;
      flex-flow: row nowrap;
      padding-left: 0;
    }
  }

  .recommended, .food {
    margin: 0 auto;
    // width: 100%;
    @include md() {
      margin: unset;
    }

    @include lg() {
      display: flex;
      flex-flow: row wrap;
      padding-left: 65px;
    }
    .group {
      flex: 0 0 100%;
      color: #000;
      font-size: 18px;
      font-weight: bold;
      padding: 5px 0px;
      @include md() {
        padding: 5px 20px;
      }

      @include xl() {
        padding: 5px 10px;
        flex: 0 0 96.5%;
      }
    }
  }

  .video {
    width: 300px;
    max-width: 100%;
    margin: 15px auto;

    &__thumbnail {
      border-radius: 12px;
      position: relative;

      img {
        border-radius: 17px;
        width: 100%;
      }

      div {
        width: 47px;
        height: 24px;
        border-radius: 12px;
        background: #000;
        opacity: 0.3;
        position: absolute;
        bottom: 15px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__name {
      color: $video_name;
      font-size: 16px;
      font-weight: bold;
      margin: 6px 0;
    }

    &__details {
      display: flex;
      color: $video_color;
      justify-content: space-between;
      font-size: 13px;
      @include mdl() {
        display: block;
      }
      p {
        margin: 0;
      }

      &__one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mdl() {
          width: fit-content;
        }

        div {
          width: 2px;
          height: 2px;
          margin: 0 4px;
          background: $video_color;
        }
      }
    }

    @include md() {
      display: flex;
      width: 100%;

      &__thumbnail {
        margin: 0 20px;
        width: 250px;
      }
    }

    @include mdl() {
      margin-left: 60px;
      width: calc(100% - 60px);
    }

    @include lg() {
      width: 250px;
      display: block;
      margin: 10px 1px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;

      &__thumbnail {
        margin: 0;
      }
    }
  }

  @include xl() {
    width: 1260px;
    margin: 0 0 0 220px;
    max-width: calc(100% - 240px);
    .food, .recommended {
      flex-flow: row nowrap;
      overflow-x: hidden;
      padding-left: 0;
      .group {
        display: none;
      }
    }

    .recommended, .food {
      .video {
        width: fit-content;
        &__thumbnail {
          width: auto;
        }
      }
      img {
        width: auto;
      }
    }
  }
}

.footer {
  position: fixed;
  border-top: 1px solid #f1f1f1;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1;
  
  &__item {
    display: flex;
    flex-direction: column;
    color: $text;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
    }
    p {
      font-size: 10px;
      margin: 1px
    }

    &:first-child {
      color: red;
    }
  }

  @include mdl() {
    display: none;
  }
}

