.desktop_logo {
  display: none; }
  @media screen and (min-width: 600px) {
    .desktop_logo {
      display: block; } }

.channel_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold; }
  .channel_logo p {
    margin-left: 5px; }
  @media screen and (min-width: 600px) {
    .channel_logo {
      display: none; } }

.user-profile {
  display: none; }
  @media screen and (min-width: 992px) {
    .user-profile {
      display: block; } }

.v_toggle {
  margin-left: 10px; }
  @media screen and (min-width: 992px) {
    .v_toggle {
      display: none; } }

.user_banner {
  position: relative;
  left: -40px;
  width: 100vw; }
  .user_banner img {
    width: 100%; }
  .user_banner__details {
    position: relative;
    padding: 0 35px; }
    .user_banner__details__name {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -35px; }
      .user_banner__details__name img {
        width: 70px;
        height: 70px;
        border-radius: 50%; }
    .user_banner__details .subscribe {
      width: 154px;
      height: 40px;
      background: #f04732;
      border-radius: 20px;
      outline: none;
      border: none;
      color: #fff;
      margin-right: 15px;
      position: relative;
      top: -15px; }

.subscribers__name {
  color: #19202c;
  font-size: 20px;
  font-weight: bold; }

.subscribers__num {
  color: #c2c2c2;
  font-size: 12px; }

.tab__items {
  list-style-type: none;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0; }
  .tab__items__action {
    text-align: right; }
  .tab__items__1 {
    color: red;
    border-bottom: 2px solid red; }
  .tab__items li {
    font-size: 14px;
    padding: 0 10px 7px; }
    .tab__items li:hover {
      color: red;
      border-bottom: 2px solid red; }

@media screen and (min-width: 600px) {
  .channel {
    width: calc(100% - 70px);
    position: relative;
    left: 70px; }
  .user_banner {
    width: calc(100vw - 70px); }
    .user_banner__details {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
