.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 5px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch input:checked + .slider {
      background: #2196F3; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .switch input:checked + .slider:before {
      transform: translateX(20px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: .4s;
    border-radius: 24px; }
    .switch .slider:before {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      transition: .4s;
      left: 4px;
      bottom: 3px;
      content: ""; }

body {
  font-family: 'Muli', sans-serif;
  background: #ffffff;
  color: #fff;
  margin: 0;
  padding: 0; }

body, .navbar, .footer {
  transition: .4s; }

p {
  margin: 0; }

.toggle {
  cursor: pointer; }

.navbar {
  display: flex;
  position: fixed;
  height: 55px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  width: calc(100% - 20px);
  z-index: 1;
  background: #fff;
  top: 0;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4); }
  @media screen and (min-width: 650px) {
    .navbar {
      padding: 0 30px;
      width: calc(100% - 60px); } }
  .navbar .navbar_left {
    flex: 0 0 50%; }
    @media screen and (min-width: 650px) {
      .navbar .navbar_left img.desktop {
        display: block;
        margin-right: 40px; } }
  .navbar .navbar_right, .navbar .navbar_left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar .navbar_right .desktop, .navbar .navbar_left .desktop {
      display: none; }
    @media screen and (min-width: 600px) {
      .navbar .navbar_right .search.desktop, .navbar .navbar_left .search.desktop {
        display: block;
        width: 320px;
        margin: 0 10px;
        max-width: 100%; }
      .navbar .navbar_right .mobile-search, .navbar .navbar_left .mobile-search {
        display: none; }
      .navbar .navbar_right, .navbar .navbar_left {
        flex: 0 0 5%;
        padding: 0; } }
  .navbar .navbar_right {
    padding: 0 10px; }
    @media screen and (min-width: 992px) {
      .navbar .navbar_right .desktop {
        display: block;
        margin: 0 10px; } }
    .navbar .navbar_right .user-profile {
      width: 30px;
      height: 30px;
      margin: 0 5px; }
      .navbar .navbar_right .user-profile img {
        width: 30px;
        border-radius: 20px; }
  .navbar .search {
    border-radius: 22px;
    width: 500px;
    max-width: 100%;
    padding: 15px;
    background-image: linear-gradient(rgba(235, 235, 235, 0.3), rgba(235, 235, 235, 0.3)), url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 30px;
    outline: none;
    border: none; }
    @media screen and (min-width: 600px) {
      .navbar .search {
        padding: 10px;
        padding-right: 30px; } }
    .navbar .search.dark {
      background-image: url("../assets/icons/white/search-white.svg");
      background-color: rgba(255, 255, 255, 0.1); }
      .navbar .search.dark::placeholder {
        color: rgba(255, 255, 255, 0.4); }

.navbar-fixed {
  width: 0px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 2;
  overflow: auto;
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .navbar-fixed .topnav {
    padding: 0 20px;
    display: none;
    height: 55px;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    width: 180px;
    z-index: 3;
    background: #fff; }
    .navbar-fixed .topnav img {
      width: 70px; }
    .navbar-fixed .topnav img.desktop {
      margin-right: 15px;
      width: 20px; }
  .navbar-fixed .bottomNav {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 220px;
    display: none;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    align-items: center; }
  .navbar-fixed section {
    margin: 10px 0; }
    .navbar-fixed section .section__title {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      padding: 0 20px;
      margin: 8px 0; }
    .navbar-fixed section.first {
      margin-top: 70px; }
    .navbar-fixed section.last {
      margin-bottom: 50px; }
  .navbar-fixed__item {
    display: flex;
    color: #898989;
    padding: 0 20px;
    font-size: 12px;
    align-items: center;
    height: 25px;
    cursor: pointer; }
    .navbar-fixed__item p {
      margin-top: 3px; }
    .navbar-fixed__item img {
      margin-right: 15px;
      width: 12px;
      border-radius: 17px; }
    .navbar-fixed__item.home {
      color: red; }

.side-nav {
  top: -10px;
  z-index: 2;
  margin-top: 60px;
  width: 70px;
  height: calc(100vh - 10px);
  background: #fff;
  border-right: 1px solid #f1f1f1;
  position: fixed;
  left: 0;
  display: none;
  flex-direction: column; }
  .side-nav div:not(.footer__item) {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }
  @media screen and (min-width: 650px) {
    .side-nav {
      display: flex; } }

.control-group {
  display: none;
  justify-content: space-between;
  flex: 0 0 100%;
  color: #000;
  padding: 0 20px 0 75px;
  font-size: 18px;
  font-weight: bold; }
  @media screen and (min-width: 992px) {
    .control-group {
      display: flex; } }

.videos {
  width: 960px;
  max-width: calc(100% - 80px);
  margin: 5px auto 65px;
  padding: 60px 10px 0;
  position: relative; }
  .videos .my-videos {
    display: flex;
    flex-flow: row wrap; }
    @media screen and (min-width: 750px) {
      .videos .my-videos {
        padding-left: 65px; } }
    @media screen and (min-width: 992px) {
      .videos .my-videos {
        overflow-x: auto;
        flex-flow: row nowrap; } }
  .videos .recommended, .videos .food {
    margin: 0 auto; }
    @media screen and (min-width: 600px) {
      .videos .recommended, .videos .food {
        margin: unset; } }
    @media screen and (min-width: 750px) {
      .videos .recommended, .videos .food {
        display: flex;
        flex-flow: row wrap;
        padding-left: 65px; } }
    .videos .recommended .group, .videos .food .group {
      flex: 0 0 100%;
      color: #000;
      font-size: 18px;
      font-weight: bold;
      padding: 5px 0px; }
      @media screen and (min-width: 600px) {
        .videos .recommended .group, .videos .food .group {
          padding: 5px 20px; } }
  .videos .video {
    width: 300px;
    max-width: 100%;
    margin: 15px auto; }
    .videos .video__thumbnail {
      border-radius: 12px;
      position: relative; }
      .videos .video__thumbnail img {
        border-radius: 17px;
        width: 100%; }
      .videos .video__thumbnail div {
        width: 47px;
        height: 24px;
        border-radius: 12px;
        background: #000;
        opacity: 0.3;
        position: absolute;
        bottom: 15px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
    .videos .video__name {
      color: #19202c;
      font-size: 16px;
      font-weight: bold;
      margin: 6px 0; }
    .videos .video__details {
      display: flex;
      color: #c2c2c2;
      justify-content: space-between;
      font-size: 13px; }
      @media screen and (min-width: 650px) {
        .videos .video__details {
          display: block; } }
      .videos .video__details p {
        margin: 0; }
      .videos .video__details__one {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media screen and (min-width: 650px) {
          .videos .video__details__one {
            width: fit-content; } }
        .videos .video__details__one div {
          width: 2px;
          height: 2px;
          margin: 0 4px;
          background: #c2c2c2; }
    @media screen and (min-width: 600px) {
      .videos .video {
        display: flex;
        width: 100%; }
        .videos .video__thumbnail {
          margin: 0 20px;
          width: 250px; } }
    @media screen and (min-width: 650px) {
      .videos .video {
        margin-left: 60px;
        width: calc(100% - 60px); } }
    @media screen and (min-width: 750px) {
      .videos .video {
        width: 250px;
        display: block;
        margin: 10px 1px;
        padding: 0 10px;
        display: flex;
        flex-direction: column; }
        .videos .video__thumbnail {
          margin: 0; } }

.footer {
  position: fixed;
  border-top: 1px solid #f1f1f1;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1; }
  .footer__item {
    display: flex;
    flex-direction: column;
    color: #898989;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .footer__item img {
      width: 20px;
      height: 20px; }
    .footer__item p {
      font-size: 10px;
      margin: 1px; }
    .footer__item:first-child {
      color: red; }
  @media screen and (min-width: 650px) {
    .footer {
      display: none; } }
