body {
  font-family: 'Muli', sans-serif;
  background: #ffffff;
  color: #fff;
  margin: 0;
  padding: 0; }

.navbar {
  display: flex;
  height: 55px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center; }
  .navbar .navbar_left {
    flex: 0 0 50%; }
  .navbar .navbar_right {
    flex: 0 0 20%;
    padding: 0 10px; }
    .navbar .navbar_right .user-profile {
      width: 30px;
      height: 30px; }
      .navbar .navbar_right .user-profile img {
        width: 30px; }
  .navbar .navbar_right, .navbar .navbar_left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar .navbar_right .desktop, .navbar .navbar_left .desktop {
      display: none; }
  .navbar .search {
    border-radius: 22px;
    width: 500px;
    max-width: 100%;
    padding: 15px;
    background-image: linear-gradient(rgba(235, 235, 235, 0.3), rgba(235, 235, 235, 0.3)), url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 98%;
    outline: none;
    border: none; }

.videos {
  width: 300px;
  max-width: 100%;
  margin: 5px auto 65px; }
  .videos .video {
    width: 250px;
    max-width: 100%;
    margin: 15px auto; }
    .videos .video__thumbnail {
      border-radius: 12px;
      position: relative; }
      .videos .video__thumbnail img {
        border-radius: 12px; }
      .videos .video__thumbnail div {
        width: 47px;
        height: 24px;
        border-radius: 12px;
        background: #000;
        opacity: 0.3;
        position: absolute;
        bottom: 15px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
    .videos .video__name {
      color: #19202c;
      font-size: 16px;
      font-weight: bold;
      margin: 6px 0; }
    .videos .video__details {
      display: flex;
      color: #c2c2c2;
      justify-content: space-between;
      font-size: 13px; }
      .videos .video__details p {
        margin: 0; }
      .videos .video__details__one {
        flex: 0 0 55%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .videos .video__details__one div {
          width: 2px;
          height: 2px;
          background: #c2c2c2; }

.footer {
  position: fixed;
  border-top: 1px solid #f1f1f1;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  z-index: 1; }
  .footer__item {
    display: flex;
    flex-direction: column;
    color: #898989;
    align-items: center;
    justify-content: center; }
    .footer__item img {
      width: 20px;
      height: 20px; }
    .footer__item p {
      font-size: 10px;
      margin: 1px; }
    .footer__item:first-child {
      color: red; }
