@import "../colors.scss";
@import "../mixins.scss";

.navbar {
  display: flex;
  position: fixed;
  height: 55px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  width: calc(100% - 20px);
  z-index: 1;
  background: #fff;
  top: 0;
  // box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);

  @include mdl() {
    padding: 0 30px;
    width: calc(100% - 60px);
  }

  .navbar_left {
    flex: 0 0 50%;
    @include mdl() {
      img.desktop {
        display: block;  
        margin-right: 40px;
      }
    }
  }

  .navbar_right, .navbar_left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desktop {
      display: none;
    }

    @include md() {
      .search.desktop {
        display: block;
        width: 320px;
        margin: 0 10px;
        max-width: 100%;
      }

      .mobile-search {
        display: none;
      }

      & {
        flex: 0 0 5%;
        padding: 0;
      }
    }
  }

  .navbar_right {
    // flex: 0 0 20%;
    padding: 0 10px;

    .desktop {
      @include xl() {
        display: block;
        margin: 0 10px;
      }
    }
    .user-profile {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      img {
        width: 30px;
        border-radius: 20px;
      }
    }
  }


  .search {
    border-radius: 22px;
    width: 500px;
    max-width: 100%;
    padding: 15px;
    background-image: linear-gradient(rgba($light_grey, 0.3),rgba($light_grey, 0.3)),url('../../assets/icons/search.svg'); 
    background-repeat: no-repeat;
    background-position: 97%;
    padding-right: 30px;
    outline: none;
    border: none;
    @include md() {
      padding: 10px;
      padding-right: 30px;
    }
    &.dark {
      background-image: url('../../assets/icons/white/search-white.svg');
      background-color: rgba(255, 255, 255, 0.1);
      color: rgba(#fff, 0.4);
      &::placeholder {
        color: rgba(#fff, 0.4);
      }
    }
  }
}

.notification {
  position: relative;
  &__badge {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f04732;
    color: #fff;
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 10px;
    text-align: center;
    display: none;
    @include xl() {
      display: block;
    }
  }
}