.navbar-fixed {
  width: 0px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 2;
  overflow: auto;
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .navbar-fixed .topnav {
    padding: 0 20px;
    display: none;
    height: 55px;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    width: 180px;
    z-index: 3;
    background: #fff; }
    .navbar-fixed .topnav img {
      width: 70px; }
    .navbar-fixed .topnav img.desktop {
      margin-right: 15px;
      width: 20px; }
  .navbar-fixed .bottomNav {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 220px;
    display: none;
    background: #fff;
    border-top: 1px solid #f1f1f1;
    align-items: center; }
  .navbar-fixed section {
    margin: 10px 0; }
    .navbar-fixed section .section__title {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      padding: 0 20px;
      margin: 8px 0; }
    .navbar-fixed section.first {
      margin-top: 70px; }
      @media screen and (min-width: 992px) {
        .navbar-fixed section.first {
          margin-top: 10px; } }
    .navbar-fixed section.last {
      margin-bottom: 50px; }
      @media screen and (min-width: 992px) {
        .navbar-fixed section.last {
          margin-bottom: 10px; } }
      .navbar-fixed section.last img {
        border-radius: 17px; }
  .navbar-fixed__item {
    display: flex;
    color: #898989;
    padding: 0 20px;
    font-size: 12px;
    align-items: center;
    height: 25px;
    cursor: pointer; }
    .navbar-fixed__item p {
      margin-top: 3px; }
    .navbar-fixed__item img {
      margin-right: 15px;
      width: 14px;
      background: none; }
    .navbar-fixed__item.home {
      color: red; }
  @media screen and (min-width: 992px) {
    .navbar-fixed {
      height: calc(100% - 55px);
      width: 220px;
      top: 55px; }
      .navbar-fixed .topnav {
        display: none !important; }
      .navbar-fixed .bottomNav {
        display: flex; } }
